/* --------------------- */
/* PROFILE SCREEN */
/* --------------------- */

.profile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-funcs {
    flex: 0 0 25%;
}

.profile-display {
    flex: 0 0 70%;
}

.funcs-card {
    background-color: #f5f5f5;
}

.funcs-card p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #cccccc;
    padding: 1rem;
    cursor: pointer;
}

.funcs-card p.selected {
    background-color: #d6d6d6;
}

/* --------------------- */
/* ME */
/* --------------------- */
.profile-func-title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.profile-func-title:not(:first-of-type) {
    margin-top: 3rem;
}

.checkbox-col {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.checkbox-col label {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 22rem;
    margin-right: 2rem;
}

.checkbox-col input {
    height: 2rem;
    width: 2rem;
}

.profile-image-circle {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
}

.profile-image-circle img {
    width: 100%;
}

.me-container input[type='file'] {
    margin-bottom: 1rem;
}

/* --------------------- */
/* EDUCATION */
/* --------------------- */
.education-container {
    display: flex;
    justify-content: space-between;
}

.education-list-col {
    flex: 0 0 30%;
}

/* --------------------- */
/* LIST EDUCATION */
/* --------------------- */
.education-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.education-list h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* --------------------- */
/* CARD EDUCATION */
/* --------------------- */
.education-card {
    background-color: #ebebeb;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    transition: all 0.4s;
}

.education-card:first-of-type {
    margin-top: 0;
}

.education-card.editable:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.education-card__date {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.education-card__date svg {
    width: 2rem;
    color: #3571aa;
    margin-right: 0.5rem;
}

.education-card__date p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.education-card__name {
    font-size: 1.5rem;
}

/* --------------------- */
/* FORM EDUCATION */
/* --------------------- */
#in {
    transform: translateX(-15rem);
}

/* --------------------- */
/* GALLERY */
/* --------------------- */
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    flex: 0 0 23%;
    margin-bottom: 1rem;
}

.photo img {
    width: 100%;
}