/* big tablets/small notebooks (just font size) */
@media only screen and (max-width: 1200px) {
    html, body {
        font-size: 8px;
    }

    .row {
        padding: 0 1.5rem;
    }

    section {
        padding: 5.5rem 2.5rem;
        min-height: calc(100vh - 71.36px - 296.5px);
    }

    textarea {
        margin-left: 1rem;
    }
}

/* ipads */
@media only screen and (max-width: 1023px) {

    /* REUSABLE */
    section {
        padding: 4.5rem 2rem;
    }

    .form-row-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    textarea {
        margin: 0;
    }

    .form-row-2 .form-col-2:first-of-type {
        margin-bottom: 2rem;
    }

    /* NAV */
    nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0;
        position: relative;
    }

    .nav-slogan {
        padding: 1rem;
    }

    .show-hide-nav {
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .show-hide-nav svg {
        color: #000;
        width: 5rem;
    }

    .main-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-hidden {
        display: none;
    }

    .main-nav li {
        width: 100%;
        margin: 0;
        border-top: 1px solid #d6d6d6;
        text-align: center;

    }

    a.shift:after {
        display: none;
    }

    a.shift,
    a.shift.important,
    a.shift:hover {
        display: block;
        color: black;
        padding: 0;
        margin: 1rem 0;
    }

    /* SEARCH TRAINER */
    .search-container form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .search-container form .form-col:first-of-type {
        margin-bottom: 2rem;
    }

    .search-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1.5rem;
    }

    /* AUTH */
    .register-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .register-row input:first-of-type {
        margin: 0;
        margin-bottom: 1rem;
    }

    /* ADS */
    .ad-preview__card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2rem);
        flex: 0 0 calc(50% - 2rem);
    }

    .mt-2 .services-list {
        margin-right: 2rem;
    }

    .service-row p {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
        flex: 0 0 27%;
    }

    .service-row p:first-of-type {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
    }

    .col-2 form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* PROFILE */
    .me-container .form-row-2 {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

/* iphones */
@media only screen and (max-width: 767px) {
    html, body {
        font-size: 7px;
    }

    .row {
        padding: 0;
    }

    .form-col-2 {
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .row-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    textarea {
        width: 100%;
    }

    /* HOME PAGE */
    .search-container h1 {
        font-size: 3.6rem;
    }

    .search-container .form-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-row select:first-of-type, .form-row input {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .steps-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .step:not(:first-of-type):not(:last-of-type) {
        margin: 2rem 0;
    }

    /* AUTH */
    .account-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1rem;
    }

    .account-title {
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 2.4rem;
    }

    .benefits__intro {
        margin-top: 1rem;
    }

    .benefits__intro svg {
        width: 2.2rem;
    }

    .benefits__intro p {
        font-size: 1.8rem;
    }

    .benefits__list {
        margin-top: 1.2rem;
    }

    .benefits__list__benefit {
        margin-bottom: 0.5rem;
    }

    .account-col:last-of-type {
        margin-top: 3.5rem;
    }

    .benefits h5 {
        font-size: 2rem;
    }

    .account-col h4 {
        font-size: 1.9rem;
    }

    /* FOOTER */
    footer {
        padding: 4rem 2rem;
    }

    .footer-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-links {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer-contact {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-top: 2rem;
    }

    .footer-row:not(:first-child):not(:last-child) {
        margin: 2rem 0;
    }

    .footer-text {
        text-align: center;
    }

    .footer-text:first-of-type {
        margin-bottom: 1rem;
    }

    /* PRICING */
    .pricing-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .pricing-card:last-of-type {
        margin-bottom: 2rem;
    }

    /* ADS */
    .ad-preview__card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 2rem;
    }

    .ad-detail__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .ad-detail__col-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .trainer-ad-section {
        padding: 2rem;
    }

    .mt-2 .services-list {
        margin: 0;
    }

    .socials-row {
        margin-top: 0;
    }

    .socials-row a {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 3rem;
        flex: 0 0 3rem;
    }

    .education-list {
        padding: 0.6rem;
        max-height: 20rem;
        overflow-y: scroll;
    }

    .education-list h2 {
        font-size: 1.9rem;
        margin-bottom: 0.7rem;
    }

    .contact-row {
        margin-bottom: 0.6rem;
    }

    /* SUBSCRIPTION */
    .subscription-card {
        max-width: 100%;
    }

    .row-small-space {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .row-small-space select:first-of-type {
        margin-bottom: 1rem;
    }

    /* PROFILE */
    .profile-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .profile-func-title {
        text-align: center;
        margin-top: 1rem;
    }

    .profile-image-circle {
        margin: 0 auto;
    }

    .me-container .form-row-2 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .me-container form .btn {
        margin: 0 auto;
    }

    .me-container .ad-preview__card {
        width: 100%;
    }

    .education-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .education-container .education-list-col {
        margin-top: 2rem;
    }

    /* POPUP */
    .popup-content {
        padding: 1rem;
        padding-top: 5rem;
        max-height: 85vh;
        width: 96vw;
        overflow-y: scroll;
    }

    .popup-content h1 {
        font-size: 3rem;
    }

    /* REMOVE HOVER EFFECTS */
    .btn-light:hover,
    .btn-light:active {
        background-color: #fff;
        border: 2px solid #3a7bb9;
        color: #3a7bb9;
        fill: #3a7bb9;
    }

    .btn-dark:hover,
    .btn-dark:active {
        background-color: #3a7bb9;
        border: 2px solid #3a7bb9;
        color: #fff;
        fill: #fff;
    }

    /* DEPLOY ADJUSTMENTS */
    .auth-col .btn {
        font-size: 1.7rem;
    }
}

/* small phones */
@media only screen and (max-width: 374px) {}