/* --------------------- */
/* SERVICE LIST */
/* --------------------- */

.services-list {
    background-color: #ebebeb;
}

.service-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #fff;
    position: relative;
    align-items: center;
}

.service-row:first-of-type p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.service-row:last-of-type {
    border: none;
}

.delete-service {
    position: absolute;
}

.service-row p {
    flex: 0 0 25%;
    font-size: 1.6rem;
    text-align: center;
}

.service-row p:first-of-type {
    flex: 0 0 50%;
    padding: 0 2rem;
}

.service-row svg {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s;
    bottom: -10px;
    left: 0;
}

.service-row:hover svg {
    opacity: 0.9;
}

/* --------------------- */
/* AD PREVIEW */
/* --------------------- */
.ad-preview__card {
    padding: 1rem;
    border-radius: 5px;
    max-width: 50rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    transition: all 0.4s;
    cursor: pointer;
}

.ad-preview__card:hover {
    background-color: #ebebeb;
}

.ad-preview-col:last-of-type {
    margin-left: 2rem;
}

.profile-image-circle {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}

.profile-image-circle img {
    width: 100%;
}

.ad-preview__name {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.ad-preview__category {
    font-size: 1.3rem;
}

.ad-preview__rating {
    display: flex;
    margin-bottom: 0.6rem;
    align-items: center;
    font-size: 1.3rem;
}

.ad-preview__rating p {
    margin-left: 1rem;
}

.ad-preview__rating p:first-of-type {
    font-weight: 600;
    font-size: 1.4rem;
}

.ad-preview__rating p:last-of-type {
    font-weight: 500;
    color: #3a7bb9;
}

/* STARS RATING */
.star-container {
    display: flex;
}

.star-container svg {
    width: 2rem;
    height: 2rem;
    color: #3a7bb9;
    fill: #3a7bb9;
}

/* ACTION BUTTONS */
.action-btns {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 1rem;
}

.action-btns svg {
    width: 1.7rem;
    height: 1.7rem;
    color: #3a7bb9;
    fill: #3a7bb9;
    cursor: pointer;
}

.action-btns div:first-of-type {
    margin-right: 0.75rem;
}