/* --------------------- */
/* SERVICE LIST */
/* --------------------- */

.services-list {
    background-color: #ebebeb;
}

.service-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #fff;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service-row:first-of-type p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.service-row:last-of-type {
    border: none;
}

.delete-service {
    position: absolute;
}

.service-row p {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    font-size: 1.6rem;
    text-align: center;
}

.service-row p:first-of-type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 2rem;
}

.service-row svg {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    bottom: -10px;
    left: 0;
}

.service-row:hover svg {
    opacity: 0.9;
}

/* --------------------- */
/* AD PREVIEW */
/* --------------------- */
.ad-preview__card {
    padding: 1rem;
    border-radius: 5px;
    width: 55rem;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.ad-preview__card.premium {
    border: 3px solid #1877F2;
}

.ad-preview__card:hover {
    background-color: #ebebeb;
}

.ad-preview-col {
    margin-left: 2rem;
}

.profile-image-circle {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}

.profile-image-circle img {
    width: 100%;
}

.ad-preview__name {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.ad-preview__category {
    font-size: 1.3rem;
}

.ad-preview__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
}

.ad-preview__rating p {
    margin-left: 1rem;
}

.ad-preview__rating p:first-of-type {
    font-weight: 600;
    font-size: 1.4rem;
}

.ad-preview__rating p:last-of-type {
    font-weight: 500;
    color: #3a7bb9;
}

.ad-preview__price {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.premium-sign {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #1877F2;
    margin: 0.4rem;
}

.premium-sign svg {
    width: 1.8rem;
    margin-right: 0.3rem;
}

.premium-sign svg path {
    fill: #1877F2;
}

/* STARS RATING */
.star-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.star-container svg {
    width: 2rem;
    height: 2rem;
    color: #FFBF00;
    fill: #FFBF00;
}

/* ACTION BUTTONS */
.action-btns {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}

.action-btns svg {
    width: 1.7rem;
    height: 1.7rem;
    color: #3a7bb9;
    fill: #3a7bb9;
    cursor: pointer;
}

.action-btns div:first-of-type {
    margin-right: 0.75rem;
}

/* CLIENT AD PREVIEW */
.client-ad-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.7rem;
}

.client-ad-info p:first-of-type {
    font-size: 1.3rem;
    font-weight: 600;
    color: #3a7bb9;
    margin-right: 2rem;
}

.client-ad-info p:last-of-type {
    font-size: 1.2rem;
    font-weight: 500
}

.client-ad-info span {
    font-size: 1rem;
    font-weight: 400;
}

.client-ad__title {
    font-size: 1.6rem;
    margin-bottom: 0.9rem;
}

/* --------------------- */
/* AD DETAIL */
/* --------------------- */
.ad-detail__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ad-detail__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 71%;
    flex: 0 0 71%;
}

.ad-detail__col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
}

.ad-detail__container h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.ad-detail__desc {
    font-size: 1.7rem;
}

.ad-detail__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

.ad-detail__price {
    font-size: 2rem;
    font-weight: 600;
}

.ad-detail__price span {
    font-size: 1.6rem;
    font-weight: 500;
}

/* --------------------- */
/* CONTACT INFO */
/* --------------------- */
.contact-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.contact-row svg {
    color: #3a7bb9;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
}

.contact-row:last-of-type {
    margin-bottom: 0;
}

.socials-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1rem;
}

.socials-row a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
}

#fb {
    fill: #1877F2;
}

#insta {
    fill: #C13584;
}

/* --------------------- */
/* ADS */
/* --------------------- */
.ads__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.overlay-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
}

.overlay-message div {
    margin-top: 2rem;
}

/* --------------------- */
/* REVIEW */
/* --------------------- */

.review__container {
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.review__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.review__row h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.review__date {
    font-size: 1.6rem;
    font-weight: 500;
    color: #474747;
}

.review__text {
    font-size: 1.6rem;
    text-align: justify;
    margin-top: 1rem;
}